#body {
    background-color: white;
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/** HEADER **/

#header-nav {
    background-color: #5D5C61;
    border-radius: 0;
    border: 0;
}

#brand h1,  #brand h1:focus {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

#brand h1:hover {
    color: white;
    text-shadow: 0.5px 0.5px white;
}

#nav-list a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

#nav-list a:hover {
    background-color: #B1A296;
} 

@media (min-width: 768px) {
    #nav-items {
        visibility: hidden;
    }
}

/** END HEADER **/


/** MAIN CONTENT **/

#main-content {
    margin-bottom: 30px;
}

#main-content h2 {
    margin: 30px;
    padding: 10px;
    font-weight: bolder;
    font-size: 3em;
}

.inner {
    background-color: #7395AE;
    margin: 5px;
    border: solid 5px #5D5C61;
}

#chicken h3, #beef h3, #sushi h3 {
    font-weight: bold;
    font-size: 2em;
}

p {
    padding: 10px;
}

#main-content a {
    color: white;
    text-decoration: none;
}

#main-content a:hover {
    color: #557A95;
}

.col-sm-12 {
    margin-top: 15px;
}

/** END MAIN CONTENT **/